* {
    font-family: 'Inter', sans-serif;
}


body {
    background: linear-gradient(to right, #4e1eb7, #5151e0);
}

.container {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

.input:focus {
    outline-color: #5151e0;
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #4e1eb7;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.container button:hover {
    background-color: #5151e0;
}

.container p {
    color: #b3b1b1;
    font-size: 15px;
    
}

.container img {
    width: 200px;
    border-radius: 10px;
}