* {
    font-family: 'Space Mono', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stats-card {
    background-color: #ddd;
    padding: 30px;
    width: 450px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #0c0c86;
    transition: transform 0.3s;
    
}

.stats-card:hover {
    transform: translateY(-20px);
}

.box {
    margin: 50px auto;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px;
}

.box input, .box select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #0c0c86;
    border-radius: 10px;
}

.box * {
    width: 100%;
    margin-bottom: 10px;
}

nav {
    background: #4e1eb7;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    padding: 10px;
    border: 1px solid #0c0c86;
    border-radius: 10px;
    font-size: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #848282;
}

.logout {
    background-color: #af0d0d;
    padding: 10px;
    border-radius: 10px;
}

nav img {
    width: 120px;
    border-radius: 10px;
}

.content {
    padding: 20px;
}